<div class="tweet">
  <table>
    <tr><td>tweet_id:</td><td>{{ tweet.tweet_id }}</td></tr>
    <tr><td>text:</td><td>{{ tweet.text }}</td></tr>
    <tr><td>html:</td><td>{{ tweet.html }}</td></tr>
    <tr><td>date:</td><td>{{ tweet.date }}</td></tr>
    <tr><td>hour:</td><td>{{ tweet.hour }}</td></tr>
    <tr><td>user:</td><td>{{ tweet.user }}</td></tr>
    <tr><td>user_id:</td><td>{{ tweet.user_id }}</td></tr>
    <tr><td>img:</td><td>{{ tweet.img }}</td></tr>
    <tr><td>rt:</td><td>{{ tweet.rt }}</td></tr>
  </table>
</div>
