{% extends "_base.html" %}

{% block head %}
<script src="/js/twitterer.js"></script>
<script src="/js/conflicts.js"></script>
<link href="/css/conflicts.css" rel=stylesheet></link>
<script>
$(document).ready(init);
</script>
{% endblock %}

{% block title %}
Hard at Work: <em>Conflicts</em>
{% endblock %}

{% block body %}
{% include "_top_menu.html" %}
<p>
  "Presidential tweets" and the official events during which they were
  sent. The dates link to daily timelines, for <a href="/timeline?date=2017-06-30">example</a>.
</p>
<div id="loading">Loading...</div>
<div id="conflicts" style="display:none">
</div>
{% endblock %}
